<div class="row">
    <div class="col-md-2">
        <img src="/assets/img/work/google.png" class="company-logo" />
    </div>
    <div class="col-md-6">
        <h4 class="experience-title"> Gameplay Programmer </h4>
        <h6 class="experience-info">Ubisoft ( 2019 - Present )</h6>
        <p class="experience-desc"> Worked on various technologies </p>

    </div>
</div>

<br />
<div class="row">
    <div class="col-md-2">
        <img src="/assets/img/work/microsoft.png" class="company-logo" />
    </div>
    <div class="col-md-6">
        <h4 class="experience-title"> Unreal Engine 4 Engineer </h4>
        <h6 class="experience-info">上海星米科技 ( 2018 - 2019 )</h6>
        <p class="experience-desc"> Worked on UnrealEngine4 C++ game developements</p>

    </div>
</div>

<br />
<div class="row">
    <div class="col-md-2">
        <img src="/assets/img/work/microsoft.png" class="company-logo" />
    </div>
    <div class="col-md-6">
        <h4 class="experience-title"> Unreal Engine 4 Engineer </h4>
        <h6 class="experience-info">广州云火信息 ( 2016 - 2018 )</h6>
        <p class="experience-desc"> Worked on UnrealEngine4 C++ and Unity game developements </p>

    </div>
</div>

<br />
<div class="row">
    <div class="col-md-2">
        <img src="/assets/img/work/microsoft.png" class="company-logo" />
    </div>
    <div class="col-md-6">
        <h4 class="experience-title"> Unreal Engine 4 Engineer </h4>
        <h6 class="experience-info">中国科学院传播研究中心 ( 2015 - 2016 )</h6>
        <p class="experience-desc"> Worked on UnrealEngine4 C++ and Unity developements </p>

    </div>
</div>
